/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
    /* 
    Dark Grey #151513
    Grey #3a3830
    Gold #f9e27e
    Light Gold #fae99a
    Cream #faf1c8
    White #fafaf0 
    */
    --main-bg: #151513;
    --second-bg: #3a3830;
    --main-fg: #fafaf0;
    --second-fg: #faf1c8;
    --main-hl: #f9e27e;
    --second-hl: #666252;
    }
    
    .main-bg {
        background-color: var(--main-bg);
    }
    .main-fg {
        color: var(--main-fg);
    }
    .main-hl {
        color: var(--main-hl);
    }
    .second-bg {
        background-color: var(--second-bg);
    }
    .second-fg {
        color: var(--second-fg);
    }
    .second-hl {
        color: var(--second-hl);
    }
    
    * {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    a:hover {
        color: var(--second-bg);
    }
    
    html {
        font-family: 'Roboto', sans-serif;
    }
    
    body {
        height: 100vh;
        width: 100vw;
    }
    main {
        height: 95%;
        width: 95%;
        margin: auto;
        display: -ms-grid;
        display: grid;
            grid-template-areas: "logo top top ."
                             "hero hero hero hero"
                             "info info info info"
                             "bottom bottom bottom bottom";
        -ms-grid-columns: 125px 1fr 1fr 75px;
        grid-template-columns: 125px 1fr 1fr 75px;
        -ms-grid-rows: 50px 1fr 1fr 50px;
        grid-template-rows: 50px 1fr 1fr 50px;
    }
    
    .rounded {
        border-radius: .25rem;
    }
    .logo {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: logo;
        width: 100%;
        height: auto;
        padding: .5rem;
    }
    nav {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-area: top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .navbar {
        font-size: 1.25rem;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: 85%;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        border-bottom: 2px solid var(--main-hl);
    }
    .navbar a {
        padding: .5rem;
    }
    .head {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .head a {
        padding: .5rem;
    }
    .bottom-nav {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        width: 95%;
        margin: 0 auto;
        grid-area: bottom;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .hero {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-area: hero;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: .5rem;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-top: 1.5rem;
        text-align: center;
       
    }
    
    .searchBar {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
        padding: .5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-box-align: center;
        
            -ms-flex-align: center;
        
                align-items: center;
    }
    
    .searchBar form {
        width: 100%;
    }
    .searchBar label {
        font-size: 1.5rem;
        margin: .5rem 0;
    }
    .searchBar input:first-of-type {
        width: 100%;
        font-size: 1.75rem;
        margin: 1rem 0;
    }
    
    .searchBar input {
        width: 45%;
        margin: 0 auto;
        font-size: 1.25rem;
        border: none;
        padding: .5rem 0;
        
    }
    .picOfDay {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
    }
    
    .picOfDay figure {
        width: 100%;
    }
    
    figcaption {
        padding: .5rem 0;
    }
    .picOfDay figure img {
        width: 100%;
    }
    .news {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-area: info;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 2rem;
        padding: .5rem .75rem;
    }
    
    .headlines {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    
    }
    .headlines ul {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    
    .headlines h2 {
        font-size: 2rem;
    }
    .history {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        border-left: 2px solid var(--main-hl);
    }
    
    .history h2 {
        font-size: 1.75rem;
        
    }
    
    .history ul {
        height: 75%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    
    }